body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

.container {
    margin-top: 80px;
    background: white;
    padding: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}